.container__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(25, 25, 25);
    padding: 2em 0 2em 0;
    width: 100%;
    height: 5rem;
}
.navegacao{
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 2em;
}
.link__nav{
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(210, 210, 210);
    margin: 0 2.5rem 0 2.5rem;
}
.link__nav:hover{
    background-color: rgb(53, 53, 53);
    border-radius: 1.5rem;
    margin: 0 1.75rem 0 1.75rem;
    padding:  .6rem .75rem .6rem .75rem;
    transition: .5s;
}
.link__começar{
    background: var(--laranja);
    border-radius: 1.5rem;
    margin: 0 1.75rem 0 2.45rem;
    padding:  .6rem .75rem .6rem .75rem;
    color: black;
    font-weight: 600;
}
.link__começar:hover{
    background-color: #fc7012;
    opacity: 70%;
    transition: .5s;
    margin: 0 1.7rem 0 2.45rem;
    padding: .75rem .8rem .75rem .8rem;
}
.logo{
    max-width: 65px;
    margin-left: 3em;
}
.logo:hover{
    background-color: rgb(53, 53, 53);
    padding: .1rem;
    border-radius: 3.5rem;
    transition: 1.5s;
}
@media screen and (max-width: 1024px) {

    .botoes__nav{
        display: none;
    }
    .logo{
        font-size: .75rem;
        font-weight: 700;
        margin-left: 1em;
        width: 20%;
    }
    .link__começar, .link__começar:hover, .link__nav, .link__nav:hover{
        margin: 0;
    }
    .link__nav{
        font-size: .85rem;
    }
    .nav{
        padding-right: 1em;
    }


}